<!DOCTYPE html>
<html>
<head>
  <title>Sysal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<table>
  <tr>
    <td>
      <%= link_to "root", :action => "index", :controller => 'welcome' %>

    </td>
    <td>
      <%= link_to "profile", :action => "profile", :controller => 'welcome' %>
    </td>
  </tr>
</table>
<%= yield %>

</body>
</html>
